<div id="<%= dom_id review %>">
  <p>
    <strong>Place:</strong>
    <%= review.place %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= review.type %>
  </p>

  <p>
    <strong>Review:</strong>
    <%= review.review %>
  </p>

</div>
